/*styles.css*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap");
 
* {
  box-sizing: border-box;
}

#my-canvas {
  position: fixed !important;
  top: 0;
  left: 0;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-weight: 300;
}
html {
  /* scroll-behavior: auto; */
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}

body {
  font-family: "Bebas Neue", cursive;
  /* scroll-behavior: auto; */
}

body {
  overflow-x: hidden;
}

#panels #panels-container {
}

main {
}


.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.breaking {
  /* border: 10px solid red; */
}
