/*styles.css*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap");
 
* {
  box-sizing: border-box;
}

#my-canvas {
  position: fixed !important;
  top: 0;
  left: 0;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-weight: 300;
}
html {
  /* scroll-behavior: auto; */
}

body {
  font-family: "Bebas Neue", cursive;
  /* scroll-behavior: auto; */
}

main {
  border: 10px solid white;
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

.panel {
  border: 10px solid yellow;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.final {
  border: 10px solid gold;
}

.breaking {
  /* border: 10px solid red; */
}
